<div class="alert-header">
  <div class="row">
    <div class="col-xs-12 col-md-6">
        <h3 *ngIf="alerts">Alerts ({{ alerts.length }})</h3>      
    </div>
    <div class="col-xs-12 col-md-6">
       <form autocomplete="off">
        <div class="form-group">
            <div class="input-group">
                <input type="text" class="form-control" name="searchString" placeholder="Search by Protocol" [(ngModel)]="searchString">
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
<table class="table table-striped table-responsive alert-table">
         <thead>
            <tr>
               <th scope="col">AlertId</th>
               <th scope="col">AlertTime</th>
               <th scope="col">Severity</th>
               <th scope="col">ClientIP</th>
               <th scope="col">Server IP</th>
               <th scope="col">Protocol</th>
               <th scope="col">ClientCountry</th>
            </tr>
         </thead>
         <tbody>
              <tr class="app-alert-item" *ngFor="let alertEl of alerts | filter:'Protocol':searchString  | paginate: {itemsPerPage:itemsEachPage, currentPage: page}; let i=index"
                  [alert]= "alertEl"  
                  [index]= "i"
                  (click)="onAlertDetail(alertEl.AlertId)">
             </tr>
         </tbody>

</table>
<div class="pagination-controls-container">
<pagination-controls (pageChange)="pageChangeEvent($event)"></pagination-controls>
</div>